#about .card {
    font-size: 1.2vw !important;
}

#about .fa-10 {
    font-size: 6.5vw;
}

.p-neutral {
    font-size: 1.2vw;
}

.stack-photos {
    max-height: 100px;
    height: 70%;
    max-width: 100px;
    width: 100%;
}

@media (max-width: 768px) {
    #about .card {
        font-size: 3.5vw !important;
        width: 100% !important;
        padding: 8px !important;
    }

    .p-neutral {
        font-size: 4vw !important;
    }

}